header.header {
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 18px 0 13px;
    z-index: 20;
    transition: 0.3s;

    &.scroll {
        padding: 5px 0 2px;

        .header__nav ul li a {
            height: 50px;
        }
    }

  

}

.header__logo {
    width: 100%;
    max-width: 186px;
    flex: 0 0 186px;

    img {
        max-height: 60px;
    }
}

.header__btn {
    width: 100%;
    max-width: 164px;
    flex: 0 0 164px;
    text-align: right;
}

.header__nav {
    width: 100%;
    max-width: calc(100% - 350px);
    flex: 0 0 calc(100% - 350px);

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        li {
            a {
                height: 59px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                padding: 5px 32px;
                font-family: "Bruno Ace", sans-serif;
                color: #fff;
                transition: 0.3s;

                &:hover {
                    color: $main-red;
                }
            }

            &.active {
                a {
                    background: $main-red;

                    &:hover {
                        color: #fff;
                    }
                }
            }
        }

    }
}

.header__burger {
    display: none;
}

@media(max-width:1499.8px) {
    .header__nav ul li a {
        padding: 5px 25px;
    }

}

@media(max-width:1399.8px) {
    .header__nav ul li a {
        font-size: 14px;
        padding: 5px 18px;
    }

}

@media(max-width:1199.8px) {
    .header__nav ul li a {
        padding: 5px;
        height: 50px;
    }
}

@media(max-width:991.8px) {

    header.header {
        padding: 10px 0 8px;

        .container {
            position: relative;
        }
    }

    header.header.scroll {
        padding: 10px 0 8px;
    }

    .header__btn {
        width: 100%;
        max-width: calc(100% - 186px);
        flex: 0 0 calc(100% - 186px);
        padding-right: 60px;
    }

    header.header {
        height: 84px;
    }

    .header__nav {
        // display: none;
        transform: translateX(100%);
        transition: 0.5s;
        position: fixed;
        left: 0;
        top: 84px;
        width: 100%;
        max-width: 100%;
        background: #000;
        height: calc(100vh - 84px);
        text-align: center;
        overflow: auto;

        ul {
            display: inline-block;
            max-width: 720px;
            width: 100%;
            padding: 40px 15px;

            li {
                margin-bottom: 10px;
            }
        }

        &.show {
            transform: translateX(0);
        }
    }

    .header__nav ul li a {
        padding: 5px 30px;
    }



    .header__burger {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        vertical-align: middle;
        position: absolute;
        right: 12px;
    }

    button.burger {
        display: inline-block;
        position: relative;
        padding: 0;
        width: 32px;
        height: 20px;
        border: none;
        background: transparent;
        cursor: pointer;

        &:focus {
            outline: none;
        }

        &.burger2 {

            &:after,
            &:before,
            span {
                width: 100%;
                height: 2px;
                border-radius: 100px;
                position: absolute;
                display: block;
                background: #EF4045;
                right: 0;

            }

            &:after,
            &:before {
                content: "";
                transition: 0.3s width 0.4s;
            }

            &:after {
                top: 0px;
                left: 0px;
                margin-top: 0px;
            }

            &:before {
                bottom: 0px;
                right: 0px;
                margin-bottom: 0px;
            }

            span {
                top: 50%;
                margin-top: -1px;
                transition: transform 0.3s;

                &:before {
                    content: "";
                    background: #EF4045;
                    width: 100%;
                    height: 2px;
                    border-radius: 100px;
                    position: absolute;
                    left: 0px;
                    transition: transform 0.3s;
                }
            }

            &.on {


                &:after {
                    transition: all 0.2s;
                    width: 0%;
                    left: 0px;
                }

                &:before {
                    transition: all 0.2s;
                    width: 0%;
                    right: 0px;
                }

                span {
                    transform: rotate(45deg);
                    transition: 0.3s transform 0.4s;

                    &:before {
                        transform: rotate(-90deg);
                        transition: 0.3s transform 0.4s;
                    }
                }


            }
        }

    }
}

@media(max-width:575.8px) {

    .header__logo {
        max-width: 130px;
        flex: 0 0 130px;
    }

    .header__btn {
        max-width: calc(100% - 130px);
        flex: 0 0 calc(100% - 130px);
        padding-right: 60px;
    }

    .header__logo img {
        max-height: 50px;
    }

    header.header.scroll,
    header.header {
        padding: 5px 0;
        display: flex;
        align-items: center;
        height: 70px;
    }

}
