.herosect {
    padding: 60px 0 0 0;

    h1 {
        margin-bottom: 8px;
        line-height: 100%;
    }

    h5 {
        margin: 0;
        font-size: 20px;
        line-height: 150%;
        color: #fff;
        font-weight: 600;
    }

    .imgwrap {
        margin-top: 37px;
        height: 465px;
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: rgba(#000, 0.5);
        }
    }
}

.impact-intro {
    padding: 74px 0 110px;
    position: relative;

    &::before {
        content: "";
        z-index: 1;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 200px;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(46.18%, #050505), to(rgba(5, 5, 5, 0)));
        background: linear-gradient(180deg, #050505 46.18%, rgba(5, 5, 5, 0) 100%);
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
    }

    h4 {
        font-size: 40px;
        font-weight: 400;
        text-align: center;
        color: #11C4E2;
        margin-bottom: 52px;
    }

    .background-picture {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: calc(100% - 200px);
    }

    .container {
        z-index: 3;
        position: relative;
    }

    .bg1,
    .bg2 {
        position: absolute;
        z-index: 2;
    }

    .bg1 {
        left: 0;
        bottom: -180px;
        width: 318px;
    }

    .bg2 {
        width: 340px;
        right: 0;
        bottom: -225px;
    }
}

.impact-intro__wrap {
    padding: 100px 120px 0 120px;
    background: #191D26;
}

.impact-intro__leftinf {
    max-width: 478px;

    h3 {
        margin-bottom: 39px;
        font-size: 32px;
    }

    img {
        vertical-align: top;
    }
}

.impact-intro__rightinf {
    p {
        color: #fff;
        margin-bottom: 24px;

        a,
        span {
            color: #11C4E2;
            font-weight: 600;

            &:hover {
                text-decoration: underline;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.impsulution {
    padding: 0 0 110px 0;

    .imgwrap {
        img {
            border-radius: 10px;
            vertical-align: top;
        }
    }

    .bottomtext {
        margin: 100px 0 0 0;

        p {
            color: #fff;
            font-size: 32px;
            line-height: 150%;

            &:last-child {
                margin-bottom: 0;
            }

            a,
            span {
                color: #11C4E2;
                font-weight: 600;
            }
        }
    }
}

.impsulution__descr {
    h3 {
        margin-bottom: 40px;
        font-size: 32px;

        span {
            background: linear-gradient(90deg, #F8FAFA 0%, #5D5D6B 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: inline-block;
        }
    }

    p {
        color: #fff;

        &:last-child {
            margin-bottom: 0;
        }

        a,
        span {
            color: #11C4E2;
            font-weight: 600;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.descrsection {
    padding: 0 0 70px 0;
    position: relative;

    .container {
        position: relative;
        z-index: 4;
    }

    h2 {
        margin-bottom: 62px;

        span {
            display: inline-block;
            background: linear-gradient(90deg, #F8FAFA 0%, #5D5D6B 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .imgwrap {
        max-width: 369px;

        img {
            width: 100%;
            border-radius: 10px;
        }
    }

    .descr {
        .title {
            font-size: 24px;
            color: #fff;
            margin-bottom: 40px;
        }

        p {
            color: #fff;
            margin-bottom: 24px;

            &:last-child {
                margin-bottom: 0;
            }

            span {
                font-weight: 600;
                color: #11C4E2;
            }
        }

        .bluetext {
            color: #11C4E2;
            font-size: 20px;
            font-weight: 600;
        }
    }
}

.impactssection {
    position: relative;
    padding: 40px 0 110px 0;

    .container {
        position: relative;
        z-index: 4;
    }

    .background-picture {
        height: 1100px;
        max-height: 100%;

        img {
            object-position: 50% 100%;
        }

    }
}

.impactssection__header {
    text-align: center;
    margin-bottom: 50px;

    h3 {
        margin-bottom: 20px;

        span {
            display: inline-block;
            background: linear-gradient(90deg, #F8FAFA 0%, #5D5D6B 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    p {
        color: #fff;
        margin: 0;
        font-weight: 500;
    }
}

.impactgr-item {
    padding-bottom: 9px;
    margin-bottom: 40px;
    display: block;

    .imgwrap {
        height: 316px;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        margin-bottom: 20px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
            transition: 0.5s;
            transform: scale(1.01);
        }


    }

    p {
        color: #fff;
        font-size: 20px;
        line-height: 200%;
        text-align: center;
        margin: 0;
    }

    &:hover {
        img {
            transform: scale(1.05);
        }
    }
}

.impactsection {
    padding-bottom: 110px;
    position: relative;

    .container {
        position: relative;
        z-index: 4;
    }

    .impactsection__header {
        margin-bottom: 70px;

        p {
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            margin: 20px 0 0 0;
            background: linear-gradient(90deg, #F8FAFA 0%, #5D5D6B 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    h2,
    h3 {
        text-align: center;
        margin: 0;

        span {
            display: inline-block;
            background: linear-gradient(90deg, #F8FAFA 0%, #5D5D6B 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .bgel1 {
        position: absolute;
        right: 0;
        bottom: 0;
    }



}

.impactsection-info {
    margin-bottom: 90px;

    .imgwrap {
        img {
            width: 100%;
            border-radius: 10px;
            vertical-align: top;
        }
    }

    .descr {
        .title {
            margin-bottom: 40px;
            color: #fff;
            font-size: 24px;
            font-weight: 600;
        }

        p {
            margin-bottom: 24px;

            &:last-child {
                margin-bottom: 0;
            }

            span {
                color: #11C4E2;
                font-weight: 600;
            }
        }
    }
}

.impactsection-list {
    margin-bottom: 90px;

    .title {
        margin-bottom: 20px;
        color: #11C4E2;
        font-size: 28px;
        font-weight: 600;
    }

    ul {
        list-style-type: none;
        margin: 0 0 40px 0;
        padding: 0;

        &:last-child {
            margin-bottom: 0;
        }

        li {
            position: relative;
            padding-left: 44px;
            margin-bottom: 16px;
            color: #fff;
            font-size: 20px;
            font-weight: 500;

            &:last-child {
                margin-bottom: 0;
            }

            img {
                position: absolute;
                width: 32px;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    p {
        color: #fff;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .imgwrap {
        img {
            width: 100%;
            border-radius: 10px;
            vertical-align: top;
        }
    }
}

.casemanagement {
    margin-bottom: 90px;

    h5 {
        margin-bottom: 20px;
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
    }

    .casemanagement__wrap {
        max-width: 920px;
        margin: 0 auto;

        &.large {
            max-width: 1220px;
        }
    }
}

.casemanagement__wrap .col-xl-4,
.casemanagement__wrap .col-xl-3,
.casemanagement__wrap .col-lg-4,
.casemanagement__wrap .col-lg-3 {
    margin-top: 20px;
}

.casemanagement-item {
    background: rgba(#11C4E2, 0.2);
    border: 1px solid #F8FAFA;
    transition: 0.3s;
    border-radius: 10px;
    padding: 20px;
    height: 100%;
    min-height: 160px;

    img {
        height: 24px;
        margin-bottom: 8px;
    }

    p {
        font-size: 14px;
        color: #fff;
        margin: 0;
    }

    .title {
        margin-bottom: 8px;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
    }
}

.desuredoc {
    margin-bottom: 90px;

    .imgwrap {
        img {
            width: 100%;
            border-radius: 10px;
        }
    }

    .descr {
        .title {
            margin-bottom: 32px;
            color: #11C4E2;
            font-size: 28px;
            font-weight: 600;
        }

        p {
            color: #fff;
            margin-bottom: 32px;
        }

        ul {
            list-style-type: none;
            margin: 0 0 32px 0;
            padding: 0;

            li {
                position: relative;
                padding-left: 28px;
                margin-bottom: 16px;
                font-size: 20px;
                font-weight: 500;

                &:last-child {
                    margin-bottom: 0;
                }

                img {
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 16px;
                }
            }
        }
    }
}

.impactsection-botttext {
    p {
        margin: 0;
        color: #11C4E2;
        font-size: 40px;
        text-align: center;
    }
}

.impactsection h2.text-start,
.impactsection h3.text-start {
    text-align: left;
}

.casemanagement__wrap-botttext {
    color: #fff;
    max-width: 720px;
    margin: 52px auto 0;
    text-align: center;
}

.desuredoc .descr .subtitle {
    img {
        display: block;
        width: 40px;
        margin-bottom: 15px;
    }

    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 28px;
}

.desuredoc .descr ul.styled-ul {
    margin-bottom: 60px;

    li {
        font-size: 16px;
        font-weight: 400;
    }
}

.desuredoc .descr {
    &>:last-child {
        margin-bottom: 0;
    }
}

.desuredoc {
    &:last-child {
        margin-bottom: 0;
    }
}

.impactsection .impactsection__header p+h2 {
    margin-top: 20px;
}

.impactsection-info.v2 {
    .descr {
        padding-left: 60px;
        padding-right: 60px;

        .impactsection__header {
            margin-bottom: 40px;
        }

        .title {
            margin-bottom: 32px;
        }
    }

    .imgwrap img {
        max-width: 473px;
        margin: 0 auto;
        display: block;
    }
}

.bluetext {
    color: #11C4E2 !important;
    font-weight: 600;
}

.impactsection-info {
    .text-end {
        padding-right: 50px;
    }
}

.desuredoc .descr p {
    span {
        color: #11C4E2;
    }
}

.casemanagement {
    position: relative;

    .bgel2 {
        position: absolute;
        left: 0;
        bottom: -50px;
    }
}


// background-picture impbgv3

.background-picture {
    &.topshadow {
        &::before {
            content: "";
            z-index: 2;
            display: block;
            position: absolute;
            left: 0;
            top: -100px;
            width: 100%;
            height: 200px;
            background: -webkit-gradient(linear, left top, left bottom, from(rgba(5, 5, 5, 0)), color-stop(#050505), to(rgba(5, 5, 5, 0)));
            background: linear-gradient(180deg, rgba(5, 5, 5, 0), #050505, rgba(5, 5, 5, 0));
        }
    }
}

.imp1 {
    .background-picture {
        height: 900px;
        bottom: 350px;
        top: inherit;

        img {
            object-fit: fill;
        }
    }
}

.imp2 {
    .background-picture {
        top: 258px;
        height: calC(100% + 200px);

        img {
            object-fit: fill;
        }
    }
}

.imp3 {
    .background-picture {
        top: initial;
        bottom: 0;
        height: calC(100% - 400px);
    }
}

.imp4 {
    .background-picture {
        height: 1100px;
        top: -150px;

        img {
            object-fit: fill;
        }
    }
}

.imp5 {
    .background-picture {
        height: 858px;
        top: -250px;

        img {
            object-fit: fill;
        }
    }
}

.imp7 {
    .background-picture {
        img {
            object-fit: fill;
        }
    }
}

.imp9 {
    .background-picture {
        top: initial;
        bottom: 0;
        height: 475px;
    }
}

@media(max-width:1499.8px) {
    .herosect .imgwrap {
        margin-top: 20px;
    }

    .impact-intro__wrap {
        padding: 60px 80px 0 80px;
    }

    .impactgr-item .imgwrap {
        height: 270px;
    }










    .impact-intro h4 {
        font-size: 36px;
    }

    .impactsection-botttext p {
        font-size: 30px;
    }

    .impact-intro__leftinf h3,
    .impsulution .bottomtext p {
        font-size: 28px;
    }

    .impactsection-list .title,
    .desuredoc .descr .title {
        font-size: 24px;
    }

    .descrsection .descr .title,
    .impactsection-info .descr .title,
    .desuredoc .descr .subtitle {
        font-size: 21px;
    }

    .descrsection .descr .bluetext,
    .impactsection-list ul li,
    .desuredoc .descr ul li {
        font-size: 18px;
    }




    .impact-intro h4,
    .descrsection h2,
    .impactsection .impactsection__header,
    .desuredoc .descr ul.styled-ul {
        margin-bottom: 40px;
    }

    .impactsection-info .descr .title {
        margin-bottom: 30px;
    }

    .impact-intro__rightinf p,
    .descrsection .descr p,
    .impactsection-info .descr p,
    .desuredoc .descr .title,
    .desuredoc .descr p,
    .impactsection-info.v2 .descr .title,
    .desuredoc .descr .subtitle,
    .impactsection-info .descr .title {
        margin-bottom: 20px;
    }




    .impactsection-list p {
        br {
            display: none;
        }
    }
}

@media(max-width:1399.8px) {

    .herosect .imgwrap {
        height: 400px;
    }

    .impact-intro__leftinf {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        img {
            max-width: calc(100% - 40px);
        }
    }

    .impact-intro__rightinf {
        padding-bottom: 40px;
    }

    .impactgr-item .imgwrap {
        height: 220px;
        margin-bottom: 10px;
    }

    .impactgr-item p {
        line-height: 160%;
    }

    .impactssection {
        padding-bottom: 70px;
    }

    .impactsection .impactsection-list {
        margin-top: 30px;
    }












    .impact-intro h4,
    .impactsection-botttext p {
        font-size: 28px;
    }

    .herosect h5 {
        font-size: 18px;
    }

}

@media(max-width:1199.8px) {


    .impact-intro__leftinf {
        max-width: 100%;

        br {
            display: none;
        }

        img {
            display: none;
        }
    }

    .impact-intro__wrap {
        padding: 50px 60px;
    }

    .impact-intro__rightinf {
        padding-bottom: 0;
    }

    .impact-intro .bg2,
    .impact-intro .bg1 {
        width: 200px;
    }

    .impact-intro .bg1 {
        bottom: -80px;
    }

    .impsulution .bottomtext {
        margin-top: 60px;
    }

    .impactgr-item {
        margin-bottom: 20px;
    }

    .impactgr-item .imgwrap {
        height: 180px;
    }

    .impactsection-list ul li img {
        width: 28px;
    }

    .casemanagement .bgel2 {
        bottom: -80px;
    }

    .desuredoc .descr ul {
        margin-bottom: 20px;
    }

    .impactsection-info.v2 .descr {
        padding: 0;
    }

















    .casemanagement h5 br,
    .impactsection .impactsection__header p br,
    .impactsection-info .descr p br {
        display: none;
    }

    .casemanagement h5,
    .desuredoc .descr ul li {
        margin-bottom: 10px;
    }

    .impsulution__descr h3,
    .impactsection-list ul {
        margin-bottom: 20px;
    }

    .descrsection .descr .title,
    .descrsection h2,
    .desuredoc .descr ul.styled-ul,
    .impact-intro h4,
    .impactsection .impactsection__header,
    .impactssection__header {
        margin-bottom: 30px;
    }

    .desuredoc {
        margin-bottom: 50px;
    }

    .impact-intro h4,
    .impsulution .bottomtext p,
    .impactsection-botttext p {
        font-size: 24px;
    }

    .impactgr-item p {
        font-size: 18px;
    }

    .impactsection-list ul li,
    .desuredoc .descr ul li {
        font-size: 16px;
    }

}

@media(max-width:991.8px) {

    br,
    .impact-intro .bg1 {
        display: none;
    }

    .impsulution .imgwrap img {
        width: 100%;
    }

    .descrsection .imgwrap {
        max-width: 100%;
        margin-bottom: 30px;
    }

    .impactsection-list p:last-child {
        margin-bottom: 20px;
    }

    .impactsection .bgel1 {
        width: 200px;
        bottom: 100px;
    }

    .desuredoc .imgwrap {
        display: none;
    }

    .impactsection .impactsection-list {
        margin-top: 0;
    }

    .impactsection.imp6 .impactsection-info {
        .imgwrap {
            margin-bottom: 0;
        }
    }

    .impactsection-list {
        .row .col-xl-4:first-child .imgwrap {
            display: none;
        }
    }

    .background-picture img {
        object-fit: cover !important;
    }

    .impactsection.imp7 .impactsection-info .descr {
        margin-bottom: 0;
    }




    .impsulution .bottomtext {
        margin-top: 40px;
    }

    .impactsection-info,
    .impactsection-list,
    .casemanagement {
        margin-bottom: 50px;
    }

    .impsulution__descr,
    .impactsection-info .imgwrap,
    .desuredoc .imgwrap,
    .impactsection-info .descr,
    .impactsection-list .imgwrap {
        margin-bottom: 30px;
    }
}

@media(max-width:767.8px) {
    .herosect {
        padding-top: 40px;
    }

    .herosect .imgwrap {
        height: 250px;
    }

    .impact-intro__wrap {
        padding: 40px;
    }

    .impact-intro {
        padding: 50px 0 50px;
    }

    .desuredoc .descr ul.styled-ul {
        margin-bottom: 16px;
    }


    .impactsection-info,
    .impactsection-list {
        margin-bottom: 30px;
    }

    .impact-intro h4,
    .impact-intro__leftinf h3,
    .descrsection .descr .title,
    .impactsection .impactsection__header {
        margin-bottom: 20px;
    }

    .impact-intro__leftinf h3,
    .impsulution__descr h3 {
        font-size: 24px;
    }

    .impact-intro h4,
    .impactsection-botttext p,
    .impsulution .bottomtext p,
    .impactsection-list .title,
    .desuredoc .descr .title {
        font-size: 21px;
    }

    .impact-intro h4,
    .impactsection-botttext p,
    .impsulution .bottomtext p,
    .descrsection .descr .title,
    .casemanagement h5,
    .impactsection-info .descr .title {
        font-size: 18px;
    }

    .herosect h5 {
        font-size: 16px;
    }
}

@media(max-width:575.8px) {
    .impact-intro__wrap {
        padding: 30px 20px;
    }

    .impsulution,
    .impactsection {
        padding-bottom: 70px;
    }

    .descrsection {
        padding-bottom: 40px;
    }

    .impactgr-item {
        margin-bottom: 10px;
    }

    .impactsection-info .descr {
        margin-bottom: 0;
    }

    .col-xl-5+.col-xl-4 .imgwrap {
        margin-top: 30px;
        margin-bottom: 0;
    }

    .impactsection-info.v2 .descr .impactsection__header {
        margin-bottom: 20px;
    }

    .impactsection .impactsection__header {
        margin-bottom: 20px !important;
    }



    .desuredoc .descr .subtitle {
        font-size: 18px;
    }

    .impactsection .impactsection__header p {
        font-size: 18px;
        
        &:nth-child(1) {
            margin-top: 0;
        }
    }

}